:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

body,
html {
  height: 100%;
}

body {
  background-color: var(--Yellow);
  font-family: "Figtree", sans-serif;
  font-size: 15px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13rem 0 0 0;
}

.card {
  background-color: var(--White);
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem var(--Black);
  width: 17.4rem;
  padding: 1.5rem;
}

.ilustration {
  aspect-ratio: 18 / 13;
  object-fit: cover;
  width: 100%;
  border-radius: 11px;
  margin: 0 0 1.2rem 0;
}

.learning {
  background-color: var(--Yellow);
  border-radius: 5px;
  color: var(--Black);
  font-size: 0.7rem;
  font-weight: 800;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.learning:hover,
.learning:focus {
  color: var(--Yellow);
  background-color: hsl(0, 0%, 7%);
}

.date {
  color: var(--Black);
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 1rem 0;
}


h1{
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.foundations {
  text-decoration: none;
  color: var(--Black);
}

.foundations:hover,
.foundations:focus {
  color: var(--Yellow);
}

p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: var(--Grey);
  margin: 1rem 0 1.1rem 0;
}

.wrapperUser {
  display: flex;
  align-items: center;
}

.avatar {
  width: 2rem;
}

.nameUser {
  margin: 0 0 0 0.7rem;
  font-size: 0.8rem;
  letter-spacing: -0.3px;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: hsl(0deg 2.89% 84.76%);
  padding: 0.5rem;
  right: 0;
  left: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
